# vscode
.vscode/

# Intellij
*.iml
.idea/

# npm
node_modules/

# Build Artifacts
# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js
dist/

# Test Coverage
coverage/

# Sourcemaps
*.map

# Obsidian User Data
data.json
test-vault/

# OS Files
.DS_Store
Thumbs.db