/* file needs to exist for github release action to work */

.teamdynamix-setting-div>.setting-item>.setting-item-control {
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

.teamdynamix-keyword-setting {
  width: 45%;
}